@import url(./theme.css);

body {
  -webkit-app-region: drag;
}

html,body,#app {
  width: 100%;
  height: 100%;
}

.fi-car-manufacturer {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url("assets/img/car_manufacturer.png");
}

.fi-car-manufacturer-unknown {
    background-position: 0 0;
}

.fi-car-manufacturer-porsche {
    background-position: 0 2.55%;
}

.fi-car-manufacturer-ferrari {
    background-position: 0 5.13%;
}

.fi-car-manufacturer-bwm {
    background-position: 0 7.71%;
}

.fi-car-manufacturer-audi {
    background-position: 0 10.26%;
}

.fi-car-manufacturer-ford {
    background-position: 0 12.81%;
}

.fi-car-manufacturer-acura {
    background-position: 0 15.38%;
}

.fi-car-manufacturer-mclaren {
    background-position: 0 17.95%;
}

.fi-car-manufacturer-chevrolet {
    background-position: 0 20.55%;
}

.fi-car-manufacturer-aston {
    background-position: 0 23%;
}

.fi-car-manufacturer-lamborghini {
    background-position: 0 25.67%;
}

.fi-car-manufacturer-honda {
    background-position: 0 28.22%;
}

.fi-car-manufacturer-cadillac {
    background-position: 0 30.77%;
}

.fi-car-manufacturer-skipbarber {
    background-position: 0 33.32%;
}

.fi-car-manufacturer-pontiac {
    background-position: 0 35.9%;
}

.fi-car-manufacturer-radical {
    background-position: 0 38.5%;
}

.fi-car-manufacturer-riley {
    background-position: 0 41.05%;
}

.fi-car-manufacturer-scca {
    background-position: 0 43.6%;
}

.fi-car-manufacturer-lotus {
    background-position: 0 46.17%;
}

.fi-car-manufacturer-vw {
    background-position: 0 48.72%;
}

.fi-car-manufacturer-williams {
    background-position: 0 51.27%;
}

.fi-car-manufacturer-mazda {
    background-position: 0 53.85%;
}

.fi-car-manufacturer-kia {
    background-position: 0 56.37%;
}

.fi-car-manufacturer-ruf {
    background-position: 0 58.92%;
}

.fi-car-manufacturer-toyota {
    background-position: 0 61.50%;
}

.fi-car-manufacturer-holden {
    background-position: 0 64.12%;
}

.fi-car-manufacturer-nissan {
    background-position: 0 66.67%;
}

.fi-car-manufacturer-subaru {
    background-position: 0 69.22%;
}

.fi-car-manufacturer-hyundai {
    background-position: 0 71.77%;
}

.fi-car-manufacturer-ligier {
    background-position: 0 74.32%;
}

.fi-car-manufacturer-renault {
    background-position: 0 76.94%;
}

.fi-car-manufacturer-superformula {
    background-position: 0 79.51%;
}

.fi-car-manufacturer-dallara {
    background-position: 0 82.10%;
}