@import url(./theme.css);

body {
  -webkit-app-region: drag;
}

html,body,#app {
  width: 100%;
  height: 100%;
}

.hidden-ui {
  opacity: 0;
  pointer-events: none;
  transition: opacity 120ms linear;
}